@import "nav.scss";
@import "page.scss";

body {
  background-color: #242424;
  color: white;
}

.fade-enter {
  opacity: 0;
  transform: translate(0, 25px);
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translate(0, 0);

  transition: opacity 250ms ease-out, transform 300ms ease;
}
.fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transform: translate(0, 30px);

  transition: opacity 250ms ease-out, transform 300ms ease;
}

.notification {
  text-align: center;
  margin: 20px auto 20px auto;
  padding: 9px 0 15px 0;
  border: 1px solid white;
  width: 20%;
  &.success {
    color: lightgreen;
    border-color: lightgreen;
  }
  &.error {
    color: salmon;
    border-color: salmon;
  }
}
